<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://it.vodokanal.kiev.ua:44446/ws/webservice.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="VodokanalService.WebServiceSoap" name="WebServiceSoap" />
            <endpoint address="https://it.vodokanal.kiev.ua:44446/ws/webservice.asmx" binding="customBinding" bindingConfiguration="WebServiceSoap12" contract="VodokanalService.WebServiceSoap" name="WebServiceSoap12" />
        </client>
    </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
